/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: column;
		justify-content: center;
	}
	.container-form-email {
		display: flex;
		justify-content: center;
		background-color: #17AEBF;
		padding-bottom: 25px;
	}
	.row {
		display: flex;
		padding-top: 25px;
	}

}