users-main-container {
    min-width: 100vh;
    background-color: red;
    display: flex;
    flex-direction: row;
}


.select-form--input {
    font-family: 'Varela Round', sans-serif;

}

.select-form--option{
    cursor: pointer;
}

.search-container {
	border-bottom: 2px solid rgba(20,138,164,0.15);
	padding: 5vh;
	display: flex;
	justify-content: space-around;
}