users-main-container {
    min-width: 100vh;
    background-color: red;
    display: flex;
    flex-direction: row;
}

.dogIcon {
    min-width: 8vh;
    background-image: url(../imagesSpazi/woman.png);
}